PORT=5050
DATABASE_URL="file:./dev.db"
JWT_SECRET="replace-with-strong-secret-min-32-characters"
JWT_EXPIRES_IN="7d"
NODE_ENV="development"
CORS_ORIGIN="http://localhost:5173"
ALLOW_OPEN_REGISTER="true"
